<% include public/head.ejs %>
<%# 请在下方输入自定义页面css%>

<link rel="stylesheet" type="text/css" href="/static/js/date-dropdown/jquery.datetimepicker.css" />


<%# 请在上方输入自定义页面css%>

<!--左侧目录,顶部搜索,用户下拉-->
<% include public/sidebar.ejs %>









<%# 页面导航 自己修改 %>
<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
    </li>
    <li>Dashboard
    </li>
</ul>
<!-- end of breadcrumbs -->




<%# body 内容 %>
<!-- Container Begin -->
<div class="row no-padding">

    <div class="large-12 columns">
        <div class="box bg-white">


            <!-- /.box-header -->
            <div class="box-body padding-40" style="display: block;">
                <!-- basic form -->

                <div class="row">
                    <div class="large-3 columns">
                        <h4>当前城市: 北京</h4>


                    </div>

                    <province-list :list="provinces">

                    </province-list>

                </div>
                <!-- end of basic form -->





            </div>
            <!-- end .timeline -->

        </div>
        <!-- box -->
    </div>
</div>
<!-- End of Container Begin -->






<template id="province-template">

    <div class="large-9 columns">
        <div class="row">
            <div class="large-6 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" placeholder="搜索">
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix">Go</a>
                    </div>
                </div>
            </div>
        </div>



        <!--<a href="#" class="tiny button bg-green">查看</a>-->


    </div>

    <hr>



    <div class="row">

        <div class="large-4 columns">
            <label>省
                <select v-model="province" required name="province" @change="province_city">
                    <option value="省份" selected>全部省份</option>
                    <option v-for="i in list" :value="i">{{i}}</option>
                </select>
            </label>
        </div>

        <div class="large-12 columns">
            <table style="width:100%;">

                <tbody>
                <tr>
                    <th>城市</th>
                    <th>状态</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>


                <tr  v-for="i in city_list">
                    <td id="city_name_{{$index}}">{{i.city}}</td>
                    <td id="city_state_{{$index}}" v-if="i.state">未开通</td>
                    <td id="city_state_{{$index}}" v-else>已开通</td>
                    <td id="city_input_{{$index}}" class="price_change_input">
                        <div class="row">
                            <div class="large-8 columns">
                                <form name="fm_{{$index}}" class="row collapse">
                                    <div class="small-10 columns">
                                        <input class="samall-8 columns margin-borrom-0" type="text" value="{{i.price}}" size="3" name="vl" />
                                    </div>
                                    <div class="small-2 columns margin-borrom-0" >
                                        <input class="samall-2 columns" type="button" onclick="javascript:fm_{{$index}}.vl.value=parseInt(fm_{{$index}}.vl.value)-1" value="-" />
                                        <input class="samall-2 columns" type="button" onclick="javascript:fm_{{$index}}.vl.value=parseInt(fm_{{$index}}.vl.value)+1;" value="+" />
                                    </div>
                                </form>
                            </div>
                            <div class="large-4 columns" style="padding-top: 3px">

                                <a onclick="update_price(this,{{$index}})" data-reveal-id="firstModal" class="tiny button bg-green margin-borrom-0">确定</a>

                            </div>
                        </div>
                    </td>

                    <td v-if="i.state">
                        <a onclick="update_state(this,{{$index}},0)" data-reveal-id="firstModal" class="tiny button bg-blue margin-borrom-0">开通</a>
                    </td>
                    <td v-else>
                        <a onclick="update_state(this,{{$index}},1)" data-reveal-id="firstModal" class="tiny button bg-red margin-borrom-0">关闭</a>
                    </td>
                </tr>


                <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                    <h2 id="firstModalTitle">请等待</h2>
                    <p>
                        请耐心等待数据传输,后台在做校对工作~~~
                    </p>
                </div>


                </tbody>
            </table>
        </div>




    </div>




</template>








<!--main js-->
<% include public/footer.ejs %>

<%# 请在下方输入自定义页面js%>
<script type="text/javascript" src="/static/js/date-dropdown/jquery.date-dropdowns.min.js"></script>
<script type="text/javascript" src="/static/js/date-dropdown/jquery.datetimepicker.js"></script>


<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
<script>
    var arr_string = "<%- province %>";
    var arr = arr_string.split(',');
    console.log('<%- province %>');


    //创建名为proviceList的 组件构建器(用来创建组件)
    var proviceList = Vue.extend({
        template:'#province-template',
        props:['list'],
        data: function(){
            return {
                city_list: [],
            }
        },
        methods:{
            province_city:function(){
                let self = this;
                console.log(self.province)
                $.ajax({
                    url:'/index/cityprice',
                    type:'post',
                    dataType:'json',
                    data:{
                        province:self.province
                    },
                    success:function(data){
                        console.log(data.info);
                        if(data.code == 'success'){
                            self.city_list = data.info;
                        }else {
                            alert('获取信息失败!')
                        }
                    }
                })
            }
        }
    })

    //注册组件
    Vue.component('province-list',proviceList);

    //创建实根
    new Vue({
        el: '#app',
        data:{
            provinces:arr
        },
        method:{

        }
    })


</script>

<script>

    function update_price(self,num){
        console.log(self)
        var number = $('#city_input_'+num+' input:first').val()
        console.log(number)
        var city = $('#city_name_'+num).text()
        console.log(city)

        $.ajax({
            type:'post',
            data:{
                price : number,
                city: city
            },
            url:'/index/updatacityprice',
            beforeSend: function(XMLHttpRequest){
                //ShowLoading();
//                $('#firstModal').foundation('reveal', 'open');
            },
            success:function(data){
                console.log(data);
                setTimeout(function(){
                    $('#firstModal').foundation('reveal', 'close');
                    $('#city_input_'+num).html(number)
                    $(self).parent().parent().parent().html(number)
               },1000)
                console.log('end')
            }
        })
    }


    function update_state(self,num,state){
        console.log(self)
        var number = $('#city_input_'+num+' input:first').val()
        console.log(number)
        var city = $('#city_name_'+num).text()
        console.log(city)

        $.ajax({
            url:'/index/updatacitystate',
            type:'post',
            data:{
                state : state,
                city: city
            },
            success:function(data){
                console.log(data);
                setTimeout(function(){
                    $('#firstModal').foundation('reveal', 'close');
                    if(state == 1){
                        $('#city_state_'+num).html('未开通');
                        $(self).parent().html('<a onclick="update_state(this,'+num+',0)" data-reveal-id="firstModal" class="tiny button bg-blue margin-borrom-0">开通</a>')


                    }else{
                        $('#city_state_'+num).html('已开通');
                        $(self).parent().html('<a onclick="update_state(this,'+num+',1)" data-reveal-id="firstModal" class="tiny button bg-red margin-borrom-0">关闭</a>')


                    }
                },500)
                console.log('end')
            }
        })
    }

</script>


<script type="text/javascript">
    $(document).ready(function() {


        // MASKED INPUT
        (function($) {
            "use strict";

            //默认日期时间选择
            $('#datetimepicker').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'ch',
                format: 'y-m-d h:i',
                step: '30'
                // disabledDates: ['2016/04/08', '2016/04/09', '2016/04/10'],  //可选择某一天不可选择
                // startDate: '2016/04/01'
            });

            //默认日期时间选择
            $('#datetimepicker2').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'ch',
                format: 'y-m-d h:i',
                step: '30',
                // disabledDates: ['2016/04/08', '2016/04/09', '2016/04/10'],  //可选择某一天不可选择
//              startDate: '2016/05/01'
            });


        })(jQuery);

    });
</script>
<%# 请在上方输入自定义页面js%>

<% include public/ending.ejs%>


