<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>一只专偷裤衩儿的猫</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/zatan-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/zatan-title.png" class="h1-pic" alt="">一只专偷裤衩儿的猫</h1>
                    <p>
                        养一只喵星人很幸福，但这只有些例外。因为它不爱抓老鼠什么的，只爱偷别人家的内裤，偷一条不够，必须偷一堆。<br>
                        事情是这样的：
                        <br><br>
                        6年前，一对新西兰夫妇养了一只可爱的喵星人，一家人一直生活的十分和谐，其乐融融。
                        但是，有一天早上，这对夫妇刚起床，就发现他们床下有这样一番情景:
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-1.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-1.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>

                    <p>
                        这，谁的袜子?<br>
                        看着一脸炫耀的喵星人，疑惑的主人们默默地把袜子收了起来。<br>
                        “猫咪喜欢毛茸茸的玩具，可能是从街上或者哪里捡回来的吧”
                        <br><br>
                        然而，第二天，他们早起来到餐厅，准备吃早饭的时候...
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-2.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-2.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        餐桌上会什么有不认识的男式内裤啊喂!
                        <br>
                        所以喵星人你是岛国痴汉投胎的吗?!
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-3.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-3.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        就这样，男主女主每天早上起床，都会撞到他们家喵星人叼回来的各种各样奇怪的内衣和袜子，以一脸大写的懵逼开启一天生活。
                        <br><br>
                        经过简单统计了。短短2个月内，他们家中已经多出11条男士内裤，50多双五颜六色的袜子。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-4.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-4.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-5.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-5.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        由于这些内衣看起来完好且干净，这对夫妇觉得，很有可能是喵星人自己从人家晾衣架上叼下来的。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zatan-6.png"><img class="scrollLoading" data-url="/static/mix/images/zatan-6.png" src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        于是他们只能在网上发公告，希望有人能来认领这堆袜子裤衩。
                        <br>
                        养这样一只痴汉品种的喵星人，也真是醉了……
                    </p>


                </div>


            </div>
        </div>


        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>


</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
    });
</script>
</body>
</html>