<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>解忧杂货店</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/zawen-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/zawen-title.png" class="h1-pic" alt="">解忧杂货店</h1>
                    <p>
                        你画的地图是一张白纸，所以，即使想决定目的地，也不知道路在哪里。地图是白纸当然很伤脑筋，任何人都会不知所措。但是不妨换一个角度思考，正因为是白纸，所以可以画任何地图，一切都掌握在你自己手上。你很自由，充满无限可能。

                    </p>
                    <p style="text-align: right">
                        ——东野圭吾《解忧杂货店》
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zawen-1.png"><img class="scrollLoading" data-url="/static/mix/images/zawen-1.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>

                    <p>
                        纯技术：浪矢杂货店完整时间轴及人物手册 <br>
                        给身边很多人推荐了这本书，最不像东野圭吾的解忧杂货店。没有他引人注目的悬疑和推理，看似凌乱实则缜密。每个人物都充满了矛盾和羁绊，最终又得到救赎。很多朋友反映此书人物众多，且时空错乱，稍不留神会觉得莫名其妙。为大家拥有更好的阅读体验，本人义务制作了本技术贴，帮你理清时间顺序和人物关系。其实，这也是东野君此书的奇妙之处，如有不当之处，欢迎大家多多交流并指正。【转载请注明出处】
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/zawen-2.png"><img class="scrollLoading" data-url="/static/mix/images/zawen-2.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>

                    <p>
                        1960年 浪矢雄治的老伴因心脏病去世。雄治和妻子是相亲结婚，直到结婚那天，他们彼此都不了解。事实上，雄治的初恋情人为丸光园的创始人皆月晓子，二人在年轻时私奔失败，晓子终生未婚。 <br>
                        1969年 皆月晓子（雄治初恋情人、丸光园创始人）过世，她本人终生未婚。 <br>
                        1970年 孤独的浪矢雄治开始在杂货店进行烦恼咨询，最初都是应付小孩子的调皮有趣的问题，后来慢慢接到严肃的咨询。雄治第一次把回信放在牛奶箱是咨询“是否应该和父母趁夜潜逃”的保罗.列侬（和久浩介），之后浩介在潜逃途中离开父母，以藤川博的姓名生活，并成为一名职业木雕师。
                        即便身体不适，雄治也坚持给每个咨询的人认真回信，因为他认为“写信的人，他们都是内心破了个洞，重要的东西正在从那个破洞中逐渐消失。人的心声是绝对不能无视的。” <br>
                        1978年 绿河（川边绿）写信咨询，她怀有身孕，即将出生的孩子的父亲是有妇之夫。“是否该生下孩子”，她给浪矢雄治提出这样一个难题。 <br>
                        1979年3月 绿河（川边绿）驾车坠海死亡，一岁左右的婴儿获救。 <br>
                        1979年6月 浪矢杂货店关闭，起因是雄治看到“一名29岁的未婚女子驾车坠海死亡，同车的一名婴儿生还”的新闻报道。雄治坚信这名女子就是曾向他咨询过的绿河。由此他产生怀疑，这些咨询者因为他的回答，人生有了怎样的改变呢？自己认真思考、从未敷衍的回答是否真正帮助到他们了呢？还是说因为他的回答，他们却陷入了不幸的境地？每想到这一点，他如芒在背，再也无法轻松回答咨询，并因此关了杂货店。随后雄治搬到儿子贵之家一起生活。
                        <br>
                        1979年9月 雄治被诊断为肝癌晚期，他提出想回杂货店住一晚上。贵之深感不解。9月13日晚上，雄治留下遗书给儿子，希望他在自己的33周年忌日快要到来时，发布公告，声称零时零分至黎明的这段时间，浪矢杂货店的咨询窗口将复活。请得到过咨询的人们直言相告，当时的回复对其人生产生了什么样的影响。同时，9月13日晚上，雄治收到来自未来的感谢信，其中包括“百分小毛头”、“绿河的女儿”、“保罗.列侬”的来信。（其中保罗.列侬的感谢信在后文中提及，是和久浩介披头士主题酒吧于2012年9月所写）<br>
                        1979年11月 月兔（静子，击剑女运动员）写信向浪矢杂货店咨询，“是否应该放弃奥运会陪伴身染重病的男友”。而此时雄治在医院。收到咨询信并回复的为幸平、翔太、敦也小偷三人组。 <br>
                        1980年7月 松冈克郎在浪矢杂货店碰见月兔（静子，击剑女运动员），当时月兔（静子，击剑女运动员）正往里投放感谢信。（此封感谢信由小偷三人组收到）克郎因此得知浪矢杂货店还可以咨询，于是以“鱼店音乐人”的名义写信问“是应该坚持音乐梦想还是继承鱼店”，小偷三人组回复了此信。
                        <br>
                        1980年9月 “迷途的小狗”（武藤晴美）从月兔（静子，击剑女运动员）口中得知浪矢杂货店，于是写信咨询，询问“如何辞掉工作做好陪酒小姐”，小偷三人组回复此信。 <br>
                        1980年9月13日 雄治病逝。 <br>
                        1980年10月 贵之在浪矢杂货店遇到月兔（静子，击剑女运动员），告知父亲去世的消息。月兔称去年11月曾得到过其父的指点，表示感谢。那时雄治正在医院治疗，因此贵之以为月兔弄错了时间。 <br>
                        1988年12月24日 丸光园发生火宅，“鱼店音乐人”松冈克郎为救人丧命。浩介和武藤晴美相遇。随后浩介又在浪矢杂货店遇到贵之，得知8年前雄治去世的消息。 <br>
                        2011年底 浪矢贵之去世。<br>
                        2012年9月 浪矢骏吾在网上发布“浪矢杂货店复活”的消息。<br>
                        2012年9月12日 小偷三人组打劫了“迷途的小狗”武藤晴美的别墅。<br>
                        2012年9月13日0点-黎明 小偷三人组收到了来自过去的“月兔”、“鱼店音乐人”、“迷途的小狗”的来信，并一一认真回复。
                        <br>
                        <br>
                        【关于33周年忌日的问题】：浪矢雄治给贵之遗书的时候，当时是1979年9月13日，雄治以为自己即将死亡，所以提出要快到自己33周年忌日时发布复活的消息。（详情可参见P120页）而实际上，雄治是1980年9月13日死亡的。而此后文中提到的都是，“据说是浪矢杂货店主人33周年的忌日。” 因此，2012年实际上是他的32周年忌日。<br>
                        不过，还有另外一种可能的解释是，日本计算忌日的方法和中国不一样，可见P288页武藤晴美给浪矢杂货店的感谢信：“据网站上説，今晚是您的33周年忌日，而我写信向您咨询，正是32年前的这个时候。这么说来，我应该是最后一个咨询者。”如果按照中国的算法，33周年忌日说明此人已经去世33周年，那32年前应该是已经去世1年，怎么可能还有“最后一个咨询者”可言。<br>
                        <br>
                        <br>
                        【关于后门】：（感谢楼下的豆友们@被门夹过的核桃以及@Miss Fantasy，我又认真看了原文，并再次修改）<br>
                        文中多次提到，“关着后门，时间就不会流逝。” P32中提到，敦也花了大约15分钟外出去便利店买吃的，幸平却说已经一个多小时了。<br>
                        也就是说，如果把后门敞开，屋里和屋外的时间就同步了。<br>
                        而关上门，则可以连通现在与过去。<br>
                        这样看来，只有在关上门的时候，1979年9月浪矢雄治才能收到来自未来2012年9月的信，而小偷三人组才能收到来自以前的信。<br>
                        最后敦也在关闭后门的情况下寄出的那封空白信也被浪矢雄治收到，而这也是浪矢雄治此生最后的咨询。
                        <br>
                        <br>
                        【人物关系简介】<br>
                        浪矢雄治：浪矢杂货店的老板，为人们解答烦恼 <br>
                        浪矢贵之：雄治的儿子 <br>
                        浪矢骏吾：贵之的孙子 <br>
                        皆月晓子：丸光园创始人，年少时和浪矢雄治私奔失败，终生未婚 <br>
                        和久浩介：“保罗.列侬”，初中时父母双亡，后以“藤川博”名义生活，曾在丸光园生活,最终成为职业木雕师 <br>
                        川边绿：“绿河”，爱上有妇之夫，未婚先孕，最终坠海身亡，留下一岁左右的女儿 <br>
                        静子：“月兔”，职业为击剑运动员 <br>
                        松冈克郎：“鱼店音乐人”，曾就读于东京某大学经济学院，21岁退学，1988年圣诞儿童福利院“丸光园”演出，为救一个小男孩（水原芹的弟弟）而在大火中牺牲，留下作品《重生》 <br>
                        武藤晴美：“迷途的小狗”，小狗事务所社长，曾在丸光园生活，后因得到浪矢杂货店指点而投资房地产、股票以及高尔夫会员证等，积累巨大财富 <br>
                        水原芹：天才女音乐人，因演唱《重生》而出名 <br>
                        荣美子：克郎的妹妹 <br>
                        加奈子：克郎的母亲 <br>
                        松冈健夫：克郎的父亲 <br>
                        翔太：小偷三人组成员，曾在丸光园生活,被供职的家电商场炒了鱿鱼，靠给便利店打工勉强度日。 <br>
                        敦也：小偷三人组成员，曾在丸光园生活,母亲是陪酒小姐，父亲为同一家店的服务生，没等他出生就消失的无影无踪。母亲身边换过无数男人，也因此使得他遭到有暴力倾向的男人毒打，他不得已去偷小摊上的烤鸡肉被抓，之后被送到孤儿院丸光园。他曾在配件加工厂上班，因为新型配件订单出差错而背黑锅。
                        <br>
                        幸平：小偷三人组成员，曾在丸光园生活,身材高大，因其工作的汽车修理厂倒闭而失业，住在工厂宿舍，随时可能会被扫地出门。 <br>

                        转自豆瓣 <br>
                        原作者：丁小叮
                    </p>






                </div>






            </div>
        </div>




        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>



</section><!-- /.ui-container-->



<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
    });
</script>
</body>
</html>