<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>站在这里的，应该是我们两个人</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s2/zhijing-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s2/zhijing-title.png" class="h1-pic" alt="">站在这里的，应该是我们两个人</h1>
                    <p>
                        总觉得韩剧像是梦中的婚礼，美好但是戏剧化的遥不可及。 <br>
                        当你觉得所有的青春都应该是以校服和校园为背景，初恋和打胎为基调的时候，请回答系列给了青春怀旧片另一种打开方式（相当……正确打开方式）。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-1.jpg"><img class="scrollLoading" data-url="/static/mix/images/s2/zhijing-1.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>
                    <p>
                        包含着来自家庭的温度，包含着父母、姐弟之间的相爱相杀，包含着来自青春的气息，成长中有些不可言说的小心思和懵懂与悸动，用满满的人文气息给以最真实的感动。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-2.jpg"><img class="scrollLoading" data-url="/static/mix/images/s2/zhijing-2.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-3.jpg"><img class="scrollLoading" data-url="/static/mix/images/s2/zhijing-3.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-4.jpg"><img class="scrollLoading" data-url="/static/mix/images/s2/zhijing-4.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-5.jpg"><img class="scrollLoading" data-url="/static/mix/images/s2/zhijing-5.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        一个剧最好的结局不一定是美好的，但是当你看到多年后的他们已经组成了一个真真实实存在的家庭，这个剧一定是美好的。时代感，真实感，透过屏幕扑面而来。怀旧复古的装扮和老式的建筑楼房，有些年代感的歌曲和桥段。可是这些不足以妨碍它触碰到你内心最温暖的角落，因为那种亲情友情和爱情确实崭新的，是没有时代的阻挡和国界的划分的。
                        <br>
                        每个请回答系列的结局都有一个人的旁白，总能在平和的独白声中哭的稀里哗啦的。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-6.jpg"><img class="scrollLoading no-style" style="width: 90%" data-url="/static/mix/images/s2/zhijing-6.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-7.jpg"><img class="scrollLoading no-style"  style="width: 80%" data-url="/static/mix/images/s2/zhijing-7.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-8.jpg"><img class="scrollLoading no-style"  style="width: 80%" data-url="/static/mix/images/s2/zhijing-8.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-9.jpg"><img class="scrollLoading no-style"  style="width: 100%" data-url="/static/mix/images/s2/zhijing-9.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-9.png"><img class="scrollLoading no-style"  style="width: 100%" data-url="/static/mix/images/s2/zhijing-9.png"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s2/zhijing-10.jpg"><img class="scrollLoading no-style" style="width: 90%" data-url="/static/mix/images/s2/zhijing-10.jpg"  src="/static/mix/images/s2/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        有些话是对青春的追忆和总结，更是一种难以割舍的怀念。 <br>
                        来自《请回答1988》的感人独白：每个人的青春都只有一次，有些话只能在恰当的时间说一遍，有些故事只能在恰当的时间讲一遍，或许是一起看录影带时候涌来的回忆(94.)或许是多年之后的一次聚会(97.)，再或许是多年之后的一次采访(88.)。

                        <br><br>
                        岁月变迁的时候我们都渐渐远离了彼此，但都给彼此的青春填了笔浓墨重彩。因为珍贵，所以难以忘怀，因为难以忘怀，所以感动。<br>
                        当你长大，然后老去，再次回首，再次眺望的时候，青春会回答你满满的感动和爱。

                    </p>

                </div>






            </div>
        </div>




        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>



</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
        $('.flex-center a img.no-style').css({'height':'100%'})
    });
</script>
</body>
</html>