<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>设计师的小把戏</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>



</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/cuowu-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/cuowu-title.png" class="h1-pic" alt="">设计师的小把戏</h1>
                    <p>
                        溢出的牛奶：斯洛伐克设计师 Lenka Czereova 对早餐牛奶情有独钟，于是他设计了这样一款马克杯，里面装满牛奶，将杯子拿在手中，就和牛奶满溢的效果一样。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-1.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-1.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>



                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-2.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-2.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-3.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-3.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <p>被肢解的椅子：设计师Peter Bristol的脑洞也是蛮大，尽管这把椅子有3条腿被中间切断，它还是利用剩下的一条稳稳当当地站立着。其实奥秘在于地毯，地毯下隐藏着一个钢筋混凝土的板子，上面固定着椅子腿的「残肢」。穿过地毯上的小孔方可一窥究竟，看上去就像是椅子被「肢解」了。</p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-4.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-4.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-5.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-5.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-6.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-6.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <p>
                        自带阴影的二次元家具：这套「阳光」金属家具中，设计师模拟了阳光照射立方体会在地上投出的阴影，干脆把影子也做成了家具的一部分，让人仿佛踏进二次元的世界。无论窗外有没有灿烂的太阳，家中始终有阳光的足迹。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-7.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-7.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-8.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-8.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <p>
                        灯泡去哪了：梦幻至极的亚克力台灯，以色列工作室Cheha出品。其灵感来源于设计师对亚克力材质的了解，由于其超强光导能力远优于玻璃或塑料。当柔和的光线沿灯罩花纹散发出来时，灯罩上面绘制的花纹可以给人带来梦幻般的立体视错觉。事实上，这只是一块扁平的有机玻璃而已。值得一提的是，以色列这个神奇国度还真是擅长出品梦幻设计，从建筑到产品，从已故到扎哈到如日中天的Benshetrit、Dan Reisinger、Ayala Serfat、Lital Mendel等，以色列出品的影响力已是越发强大。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-9.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-9.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-10.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-10.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-11.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-11.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-12.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-12.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <p>
                        酒架魔术师： Luckies 魔力链酒架确有魔力，这款酒架以铬铁制成，柔中带刚，一个套索可以支撑起整瓶酒。这种不平衡感不仅令人觉得梦幻，同时也巧妙利用平衡原理给人以近乎完美的视错觉。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-13.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-13.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuowu-14.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuowu-14.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>




                </div>






            </div>
        </div>




        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>



</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
        $('.flex-center a img.no-style').css({'height':'100%'})
    });
</script>
</body>
</html>