<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>12张逼死人的图</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/cuojin-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/cuojin-title.png" class="h1-pic" alt="">12张逼死人的图
                    </h1>
                    <p>
                        上帝给了我们一双眼睛让我们去发现更美丽的世界，但有时候我们也会被自己的眼睛所欺骗，眼见不一定为实。不信？让我们来看看以下12张逼死人的错觉图。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-1.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-1.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>
                    </div>
                    <p style="text-align: center">
                        棋盘
                    </p>
                    <p>
                        棋盘中间的几个白色斑点造成了一种是视错觉。科学家至今尚不能给出准确的解释，但是这一效应应该是由于干扰图案导致的。你的大脑假设棋盘是一个具有统一性的图案，并把白色斑点组成的图案视为是一个向外扭曲的隆起。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-2.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-2.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        漫画女孩
                    </p>

                    <p>
                        这个漫画女孩的眼睛是不同颜色的吗？不，两只眼睛颜色是完全一样的。红色的滤层让左眼看上去像是蓝色的，而实际上两只眼睛的颜色是一样的，都是灰色的。这和蓝裙子金裙子之争有异曲同工之妙。你的大脑能够根据视觉环境的不同而以不同的方式接受同一种颜色。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-3.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-3.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        咖啡屋视错觉图
                    </p>

                    <p>
                        上世纪70年代早期，布里斯托尔大学（University of Bristol ）的研究人员在一家咖啡馆的瓷砖墙上发现了这一视错觉图像。这一图像因此被称为咖啡馆墙幻象（Café Wall
                        Illusion）。你的大脑被紧密排列的黑白方块形成的强烈对比所占有，从而不自觉地将灰线视作是瓷砖上面或者下面的一部分。黑白方块之间的灰线似乎被弯曲了，但实际上它们是平行的。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-4.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-4.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        箭头
                    </p>

                    <p>
                        与咖啡馆墙幻象有异曲同工之妙，这些箭头看上去是弯曲的，但是事实上，它们是平行的。科学家到目前为止还不能对其进行解释，但是双向的箭头和强烈的颜色对比导致了这一视错觉效应。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-5.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-5.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        透视棋盘
                    </p>

                    <p>
                        前缩透视法是造成这一视错觉效应的主要原因——透视法的规则让你的大脑认为后面的蓝线比前面的绿线要长的多。但是如果你移开红白格棋盘，你会发现这两条线其实是一样长的。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-6.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-6.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>


                    <p style="text-align: center">
                        紫罗兰画
                    </p>


                    <p>
                        你可能不知道这张19世纪的紫罗兰雕刻画背后藏着拿破仑·波拿巴和他的第二任妻子玛丽·露易丝以及他们的儿子。在观看这种模糊的画像时，你的大脑被迫选择或是看画或是看脸，要同时看到这两样东西是很难的。（提示：你可以找到拿破仑的帽子。）直到今日，这种类型的图画还被用来研究注意力等精神能力。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-7.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-7.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        我的妻子和岳母
                    </p>


                    <p>
                        1915年，美国讽刺杂志《Puck》刊登了威廉·艾力 · 希尔(William Ely Hill)创作的这张经典双视图。你能发现这两个女人吗？
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-8.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-8.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        狐狸
                    </p>

                    <p>
                        你的大脑同样还能创造出鬼魅般的余像，就像这副狐狸图。先注视左侧的狐狸30秒时间，然后再注视右侧的狐狸。你会在右侧的狐狸上发现一个红色的闪影。余像效应只有在你高度集中看两幅图片时才可能发生。目前，科学家还无法解释大脑是如何产生这些余像的。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-9.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-9.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        女人
                    </p>
                    <p>

                        先注视这个女人的鼻子30秒，然后将注意力转移到白墙上。这张图和其他大多数余像一样，视错觉产生的原因在于强烈的颜色对比，从亮色转换到深色，反之亦然。白墙充当了投影屏幕，你会在上面发现一个放大了的女人脸。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-10.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojin-10.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        “比拉里”
                    </p>
                    <p>
                        你能够在这张图上同时看到比尔·克林顿(Bill Clinton)和希拉里(Hillary Clinton)。你的大脑有能力从部分像素和片段的视觉信息中提炼出完整的图像。没有这种能力的话，你将不可能安全地穿过马路或者驾车。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-11.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojin-11.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        文本
                    </p>
                    <p>
                        当你最初开始学习阅读的时候，你可能会需要记忆每一个字母顺序从而把它们拼接成一个词。但是当你熟练了之后，你的大脑会不自觉地将短的、常见的词汇当成一个整体。而你也只需要记住长单词的首字母和尾字母就能辨认出整个词。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojin-12.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojin-12.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        六边形
                    </p>
                    <p>
                        视角不同，你会发现黄色的六边形一会在蓝色六边形里面，一会又浮到了蓝色六边形前面。正如其他的视错觉图一样，视觉环境影响了你观看图片的方式。这一错觉图跟你的深层感知有关。因为你的大脑总是在尝试着找出真实的情况是什么，你对图片的解读也因此不断地发生着变化。
                    </p>

                </div>


            </div>
        </div>


        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>


</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 50
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function () {
        $width = $(window).width() - 20;
        $imgheight = $width / 1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height': $imgheight + 'px'})
    });
</script>
</body>
</html>