<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>如何穿衣才显瘦</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/cuojue-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/cuojue-title.png" class="h1-pic" alt="">如何穿衣才显瘦
                    </h1>
                    <p>
                        穿什么衣服显瘦？这问题看上去很简单，其实却没多少人能真正答出个所以然。因为显瘦不仅是时装方面的问题，还踏进了视错觉心理学的范畴。
                        <br>
                        <br>
                        当你自身体量无法改变时，就巧妙地利用人眼的视错觉吧。如何穿搭才能心机瘦，视错觉心理学家和造型师给了妹子们几条福音。
                    </p>
                    <p style="text-align: center">
                        越紧身越显胖？
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-1.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-1.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>
                    </div>

                    <p>
                        明明铅笔裙非常紧身，而且姑娘也很瘦，但为什么比穿百褶裙看上去更胖呢?
                    </p>

                    <p style="text-align: center">
                        视错觉原理：
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-2.jpg"><img class="scrollLoading small"
                                                                              data-url="/static/mix/images/s3/cuojue-2.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>


                    <p>
                        A和B的缝隙空间相等，但A比B看起来更宽。原因是A的线条要细很多，于是在对比的作用下，A的两根线条中间的空间，会比B看起来要更宽阔一些。
                        <br>
                        如果你非常喜欢穿铅笔裙的话，建议选择米兰达可儿这种下摆微微张开的款式。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-3.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-3.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        7分袖会显瘦吗？
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-4.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-4.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p>
                        很多时装周场外的街拍中，大多会选择把衬衫领口敞开，袖口卷起。为什么右图中露出领口和袖口就会感觉比左图瘦呢?
                    </p>

                    <p style="text-align: center">
                        视错觉原理:
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-5.jpg"><img class="scrollLoading small"
                                                                              data-url="/static/mix/images/s3/cuojue-5.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p>
                        B和A其实是一个人。只要把其中一部分地方遮住，只露出剩下的部分，人们就会脑补被遮住的画面。所以，在穿衣服的时候，一定要露出全身最瘦的地方。 <br>
                        遮住腰身，遮住大腿，7分袖设计露出手腕，这就是为什么60年代开始风行的娃娃裙版型会一直畅销至今。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-6.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-6.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        而娃娃裙版型的廓形大衣也是微胖界的明星。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-7.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-7.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        为什么拉链全部拉上会显得脸胖？
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-8.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-8.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        经常会有人在大衣里混搭一件卫衣，但如果你是个大脸妹，应该敞开拉链，再叠搭一层深色内衣，是不是感觉脸立刻变小了？
                    </p>

                    <p style="text-align: center">
                        视错觉原理：
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-9.jpg"><img class="scrollLoading small"
                                                                              data-url="/static/mix/images/s3/cuojue-9.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        这是有名的莱依尔错视。三根线明明一样长，但在箭头的作用下，B显得最短，C显得最长。这就是V领衫的原理。但只要掌握了这个原理，除了V领衫，你还可以利用很多种方法让脸看上去更小。 <br>
                        下图就是非常显脸小的搭配，实际上很多大衣和西装的衣领都是V形设计。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-10.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/cuojue-10.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>


                    <p>
                        以下这种毛毛领大衣很可爱吧，但建议胖脸的姑娘还是放弃为好。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-11.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-11.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        上下身同色的衣服更显瘦
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-12.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-12.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        很多姑娘认为衣服色彩只要能配上就好，却从未注意过，同样两种色彩要怎么选择才会变得更瘦。事实上，上下身同色的衣服会显瘦很多，原因是？
                    </p>
                    <p style="text-align: center">
                        视错觉原理：
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-13.jpg"><img class="scrollLoading small"
                                                                               data-url="/static/mix/images/s3/cuojue-13.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>

                    <p>
                        每个人看这张图都会注意竖排的排列，这是因为在视觉上没有阻碍。所以在上面左右对比的两张图中，人们更倾向于把左图横着看，而把右图竖着看。自然，就瘦了很多。 <br>
                        在穿膨胀色的白裤子时，如果上半身同样搭配白色比配深色系更好，特别是对矮个子而言。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-14.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-14.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        矮个姑娘的福音
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-15.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-15.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p>
                        左右哪个会显得更高？答案当然是右，为什么加个帽子效果就大不同呢？
                    </p>

                    <p style="text-align: center">
                        视错觉原理：
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-16.jpg"><img class="scrollLoading small"
                                                                               data-url="/static/mix/images/s3/cuojue-16.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>
                    <p>
                        答案就是视线上移的作用，利用显眼的视觉焦点，让它上移，这会让矮个的姑娘看上去更高一些。 <br>
                        所以说，以下这种印花半裙，特别是长长的印花半裙请矮个姑娘谨慎选择。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-17.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-17.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>


                    <p style="text-align: center">
                        正确的做法是以下这样：
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuojue-18.jpg"><img class="scrollLoading"
                                                                               data-url="/static/mix/images/s3/cuojue-18.jpg"
                                                                               src="/static/mix/images/placeholder.png"
                                                                               alt="" title=""></a>
                        </div>

                    </div>

                </div>


            </div>
        </div>


        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>


</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 50
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function () {
        $width = $(window).width() - 20;
        $imgheight = $width / 1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height': $imgheight + 'px'})
        $('.flex-center a img.small').css({'height': '100%', width: '30%'})
    });
</script>
</body>
</html>