<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>不可能的世界</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>


</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/shige-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/shige-title.png" class="h1-pic" alt="">不可能的世界
                    </h1>
                    <p>
                        埃舍尔（1898－1972）荷兰人，全世界最著名、最开脑洞的视错觉画家。他的成就无法匹及，他的绘画让人真正的感受到"眼见未必为实"。
                        <br><br>
                        一条瀑布从高处倾泻而下，转动着水轮。然后，水流顺着砖砌的水渠向前流动。可是，这水流竟流到了瀑布上方，然后再次倾泻而下，转动着水轮。如此周而复始，简直是一架永动机！而当你定睛细看时，就会发现，这水流根本没有高低落差，完全是一条在平面上流动的“瀑布”。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-1.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-1.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>
                    </div>
                    <p style="text-align: center">
                        埃舍尔作品《瀑布》
                    </p>
                    <p>
                        《瀑布》与不可能三杆 <br>
                        据说埃舍尔创作《瀑布》的灵感来自英国理论物理学家、《皇帝的新脑》一书的作者彭罗斯构想的“不可能三杆”。彭罗斯把它叫做三维直角结构：三个直角都很正常，但它们是以错误的、在现实中根本不可能的方式连接起来的，于是就形成了这样一个三角形，三个角之和为270度，——当然它肯定不是任何实际存在的空间结构的投射。埃舍尔把三个这样的“不可能三杆”连接起来，从图中看到，我们沿着从A点走到B点是平坦，从B点到C点似乎也是平坦的，但从 C点回到A点在视觉上我们却唐突地掉了下来，这正是埃舍尔在《瀑布》中所达到的效果，而这一切只是因为构成图形的每一个三杆都是不可能存在的。
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-2.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-2.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>
                    <p style="text-align: center">
                        埃舍尔作品《观景楼》
                    </p>

                    <p>
                        埃舍尔创作了大量此类的视觉幻象作品，在另一幅名叫《观景楼》的作品里，一个竖得笔直的梯子，它的最上端斜靠在观景楼的外边。而梯肢却站在楼内。不论谁爬在梯子上，都弄不清自己到底是在亭楼的里边还是外边。稍加注意你会发现，这个亭子建得很怪异。亭子上层与下层居然互成直角！此外，把两层楼台连接起来的八根柱子也很奇怪。只有最右边和最左边的柱子是正常的，其余六根都是把前面连到后面，所以有些柱子肯定是会从中央的空间斜穿而过。这就造成了另一个更加荒谬的图景：那个竖得笔直的梯子，它的最上端斜靠在观景楼的外边，而梯脚却站在楼内。如果我们把画面从中间沿水平线剪开，就会发现两个部分都很正常。那么不言而喻，视觉上的悖谬来处于两个部分的错误的连接，即上面已经提到的六根柱子的不可能的连接。

                        <br><br>
                        是的，所有这些不可能的景象，都在荷兰著名绘画大师埃舍尔的笔下实现了。 <br>
                        埃舍尔是独一无二的，看他的作品根本就是一桩奇妙的旅行。你的第一印象会是非常精致，具有极强的装饰美感。然后，这些画开始向你的智力、向你的正常思维逻辑发出挑战，空间开始错杂，上下、左右、内外通通颠倒，你的大脑开始晕眩……
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-3.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-3.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        埃舍尔作品《画手》
                    </p>

                    <p>
                        但是，这些画绝不是随意的艺术幻想，而是现代数学之美在艺术上的具体体现。难怪艺术界一开始并不认可埃舍尔，反而是在科学界获得喝彩。我们经常听一些科学家说，事物的数学性中蕴含着浓郁的诗意。然而，这并不是任何人都能体会到的。面对一个公式或者理论，训练有素的数学家和物理学家常常发出“美”的感叹，而对于不谙此道的普通人来说，却不过是一组无意义的符号而已。但是埃舍尔这位独特的艺术家却毕生在不自觉地从事着一种“翻译”工作——把艰深的数学翻译成一目了然、极具美感的艺术作品。
                        <br><br>
                        此外，埃舍尔还对拓扑学上有名的莫比乌斯带很感兴趣，并以它为基础创作了许多作品。我们知道，莫比乌斯带有两个重要的拓扑学特性，一是沿其中线剪开，它不会分成两个环，仍然是一个；二是它只有一个面和一条边。为了验证前一点，你只要拿起剪刀来试一试就知道了。至于后一点，你可以从带子的任意一处开始给它涂色，不断地涂上颜色，而中间不会有间断。因为假如有两个面，涂完一个，你中间势必要翻转一下，才能去涂另一个面。同样道理，假如你把手指放在边上的任意一点，然后沿着边不断滑去，你的手指终究要回到起点，也就是说，它只有一条边，并且是封闭的。
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-4.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-4.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        埃舍尔作品《莫比乌斯带Ⅱ》
                    </p>

                    <p>
                        这幅作品阐明了一个拓扑学特性。图中蚂蚁沿着莫比乌斯带做成的梯子不断爬行，似乎永远爬不到尽头。假如蚂蚁可以思考，一定越爬越奇怪：明明在里头的，怎么又莫名其妙翻上来了？这也难怪，因为这架“梯子”只有一个面，并且是全封闭的；在这里，内外的概念压根儿不存在。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-5.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-5.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        埃舍尔作品《画廊》
                    </p>

                    <p>
                        石版画《画廊》被认为是埃舍尔一生的巅峰之余。埃舍尔本人也认为，在这儿他已经达到了他的思维能力和表现能力的极限。在画面的右下角，我们看到画廊的入口，一场画展正在进行。向左，我们看到一位年轻人，正站在那儿看墙上的一幅画。在这幅画中，他看见一艘船，再往上，也就是整个画面的左上角，是码头沿岸的一些房子。现在我们向右移，这排房子继续延伸，延伸到画面最右侧，然后随着我们的视线下移，就会发现角落里有一座房子，房子底部有一个入口，画廊里正在被认为是埃舍一场画展……至此我们才恍然大悟，作品中的年轻人其实正站在他观看的那幅作品之中！
                        <br><br>
                        上面这些有趣的作品包含了埃舍尔对绘画本质的深刻思考。他很早就意识到绘画具有的先天矛盾——那就是三维空间必须表现在二维平面上。因为这个内在的矛盾，他认为任何绘画都是一种自欺欺人的骗术。既然如此，就可以通过对传统透视法进行革新，在平面上营造出甚至在三维空间中都不可能存在的世界。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-6.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-6.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>


                    <p style="text-align: center">
                        埃舍尔作品《凹和凸》
                    </p>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-7.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-7.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        埃舍尔作品《上和下》
                    </p>


                    <p>
                        最后说说埃舍尔一幅名叫《相对性》的石版画。在这幅非常著名的作品中出现三个“灭点”（关于透视的专业术语）。画中十六个小人可分成三组，每组都生活在自己的世界中。而且对于所选定的任何一组小人，他们的世界都是这幅作品所画的全部内容;只是其中一组的天花板，可能是另一组的墙；一组认为是门的东西，另一组可能认为是地板上的活动门而已。对这幅作品的深入研究也许会对天文爱好者有所帮助。它可以让你认识到，空间中每个平面都是地面。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/shige-8.jpg"><img class="scrollLoading"
                                                                              data-url="/static/mix/images/s3/shige-8.jpg"
                                                                              src="/static/mix/images/placeholder.png"
                                                                              alt="" title=""></a>
                        </div>

                    </div>

                    <p style="text-align: center">
                        埃舍尔作品《相对性》
                    </p>

                    <p>
                        埃舍尔作品的风格，绘画与数学思想密切相关，这既是埃舍尔有别于其他艺术家的特点，也是他的作品魅力之所在。埃舍尔所思考的问题以及创作的方式，更接近于科学家而非艺术家。埃舍尔在自己的创作笔记中曾经写道：“数学家打开了一扇通向无限可能性的大门，但是他们自身并没有进入其中一窥究竟，他们特殊的禀赋使他们对打开这扇门的方式更感兴趣。”
                        <br>
                        也有人说，埃舍尔代表了非欧几何时代的空间感知觉，其基本特征是空间的弯曲，这是有道理的。空间的弯曲使缠绕成为可能，使“有限无界”成为可能。我们知道，物理空间可以因为引力而弯曲，它无界却可以是有限的：无界不等于无限。看来埃舍尔的数学思想很深刻，都蕴涵在他的作品里了！

                    </p>



                </div>


            </div>
        </div>


        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>


</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 50
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function () {
        $width = $(window).width() - 20;
        $imgheight = $width / 1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height': $imgheight + 'px'})
    });
</script>
</body>
</html>