<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>纪念碑谷</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>



</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/cuochu-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/cuochu-title.png" class="h1-pic" alt="">纪念碑谷</h1>
                    <p style="text-align: center">
                        一款现实与幻想交错的游戏

                        <br><br>
                        一场3D空间与视错觉结合的梦境
                        <br><br>
                        一个荒谬绝伦令人无法自拔的谜题
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-1.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-1.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>

                    <p>
                        如果你不时感到心神疲倦，被快节奏的生活所束缚，不妨尝试下由ustwo game制作的3D视错觉游戏大作——《纪念碑谷》。游戏不仅玩法新颖夺人眼球，其美轮美奂的画面更让人心驰神往，不禁带你体验一次神奇建筑与视错觉结合的梦幻探险……
                    </p>



                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-2.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-2.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-3.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-3.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-4.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-4.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <p>
                        游戏的灵感来源于视错觉大师“埃舍尔”的名作，通关中不难发现很多画面都有似曾相识的感觉，这也是对经典的艺术进行的一场全新的视觉革命。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-5.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-5.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-6.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-6.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-7.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-7.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <p>
                        而游戏操作本身也很简单，主人公艾达会跟着你手指的点触行走。但是如果你把思维只局限在2D画面中，那你可能会永远迷失在空间的迷宫中。游戏的难点在于——利用3D空间视错觉来搭建正确的路通往出口。所以也许看似绝路的地方，其实你只要通过转移、旋转、颠倒等解谜手法稍加改变身边的路，没准就会柳暗花明了。
                    </p>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuochu-8.png"><img class="scrollLoading" data-url="/static/mix/images/s3/cuochu-8.png"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    




                </div>






            </div>
        </div>




        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>



</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
        $('.flex-center a img.no-style').css({'height':'100%'})
    });
</script>
</body>
</html>