<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Metamorphosis · 蜕变</title>
    <link rel="stylesheet" href="/static/mix/css/frozen.css">
    <link rel="stylesheet" href="/static/mix/css/demo.css">
    <link rel="stylesheet" href="/static/mix/css/simplelightbox.min.css">

    <script src="/static/mix/js/jquery-2.1.1.min.js"></script>



</head>

<body ontouchstart>

<section class="ui-container">


    <section id="grid">
        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-placehold-img">
                    <span style="background-image:url('/static/mix/images/s3/cuoying-placeholder.png')"></span>
                </section>
            </div>
        </div>

        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-whitespace">

                    <h1 class="h1-text"><img src="/static/mix/images/s3/cuoying-title.png" class="h1-pic" alt="">Metamorphosis · 蜕变</h1>
                    <p>
                        人体彩绘师Leonie Gené和Joerg Duesterwald联合两位摄影师Laila Pregizer和Uwe Schmida一起完成了名为《Metamorphosis/蜕变》的创意视错觉项目。这些图片没有经过任何PS处理，全凭精妙的彩绘技艺完成了人与自然的完美融合。
                        那么问题来了：每张图片中都有一个人，你能找出来吗？
                    </p>
                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-1.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-1.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>
                    </div>



                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-2.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-2.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-3.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-3.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>
                        </div>

                    </div>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-4.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-4.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-5.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-5.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-6.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-6.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>


                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-7.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-7.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-8.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-8.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-9.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-9.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-10.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-10.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-11.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-11.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-12.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-12.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-13.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-13.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-14.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-14.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>

                    <div class="ui-row-flex ">
                        <div class="ui-col flex-center">
                            <a href="/static/mix/images/s3/cuoying-15.jpg"><img class="scrollLoading" data-url="/static/mix/images/s3/cuoying-15.jpg"  src="/static/mix/images/placeholder.png" alt="" title=""></a>

                        </div>

                    </div>




                </div>






            </div>
        </div>




        <div class="dwo-control">
            <span class="dwo-prev"></span>
            <span class="dwo-next"></span>
            <span class="dwo-close"></span>
        </div>


    </section>



</section><!-- /.ui-container-->


<!--异步加载-->
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = '/static/mix/lib/zepto.min.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function () {
        var po = document.createElement("script");
        po.type = "text/javascript";
        po.async = true;
        po.src = "/static/mix/js/frozen.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(po, s);
    })();

    jQuery.getScript("/static/mix/js/jquery.scrollLoading.js")
            .done(function () {
                /* 耶，没有问题，这里可以干点什么 */
                //滚动异步加载图片
                $(".scrollLoading").scrollLoading();
                jQuery.getScript("/static/mix/js/simple-lightbox.min.js")
                        .done(function () {
                            /* 耶，没有问题，这里可以干点什么 */
                            //点击查看大图
                            var $dowebok = $('.demo-block a').simpleLightbox({
                                nav: false,
                                close: false,
                                captions: false,
                                widthRatio: 1,
                                heightRatio: 1,
                                swipeTolerance: 100
                            });

                            $dowebok.on('show.simplelightbox', function () {
                                $('.dwo-control').show();
                            });
                            $dowebok.on('close.simplelightbox', function () {
                                $('.dwo-control').hide();
                            });

                            $('.dwo-prev').on('click', function () {
                                $dowebok.prev();
                                return false;
                            });
                            $('.dwo-next').on('click', function () {
                                $dowebok.next();
                                return false;
                            });
                            $('.dwo-close').on('click', function () {
                                $dowebok.close();
                                return false;
                            });
                            $('.sl-overlay').on('click', function () {
                                $dowebok.close();
                                return false;
                            });


                        })
                        .fail(function () {
                            console.log('js加载出错了');
                        });
            })
            .fail(function () {
                console.log('js加载出错了');
            });
</script>
<!--计算图片高度-->
<script>
    $(document).ready(function() {
        $width = $(window).width()-20;
        $imgheight = $width/1.633;
        console.log($imgheight);
        $('.flex-center a img').css({'height':$imgheight+'px'})
        $('.flex-center a img.no-style').css({'height':'100%'})
    });
</script>
</body>
</html>