<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Page-Enter" content="revealTrans(Duration=2.0,Transition=12)"/>
  <meta name="baidu-site-verification" content="PsdzIuZbdy"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <meta name="Description"
        content="tataUFO是一个最青年的发现式社交平台，这里汇聚了别样的有趣青年，有最in的生活方式和生活态度。你可以在这里发现奇妙同好，也可以晒出你的傲娇，大家没有生分和尴尬，只有聊不完的话，不管你是什么咖，这里总有你的趴。来这里，小嗒嗒带你发现有趣的ta。">
  <meta name="Keywords"
        content="Tataufo tataUFO 学生社交交友恋爱实习兼职，兼职猫，课程表，超级课程表，聊天软件情侣找对象，人人网，same，11点，tata，热点，闪聊，火柴盒，推荐，话题，小柚，黑白校园，小恩爱，snapchat，whatsapp，ufo">
  <meta property="og:title" content="发现式社交平台 tataUFO">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.tataufo.com/">
  <meta property="og:image" content="http://imgcdn.tataufo.com/resources/images/og_logo.png">
  <meta property="og:description"
        content="tataUFO是一个最青年的发现式社交平台，这里汇聚了别样的有趣青年，有最in的生活方式和生活态度。你可以在这里发现奇妙同好，也可以晒出你的傲娇，大家没有生分和尴尬，只有聊不完的话，不管你是什么咖，这里总有你的趴。来这里，小嗒嗒带你发现有趣的ta。">
  <meta property="og:keywords"
        content="Tataufo tataUFO 学生社交交友恋爱实习兼职，兼职猫，课程表，超级课程表，聊天软件情侣找对象，人人网，same，11点，tata，热点，闪聊，火柴盒，推荐，话题，小柚，黑白校园，小恩爱，snapchat，whatsapp，ufo">


  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="http://imagecloud.tataufo.com/icon/4.0/Icon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="http://imagecloud.tataufo.com/icon/4.0/Icon@2x.png" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="57x57" href="http://imagecloud.tataufo.com/icon/4.0/Icon-Spotlight-40@2x.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="http://imagecloud.tataufo.com/icon/4.0/Icon-Spotlight-40@3x.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="http://imagecloud.tataufo.com/icon/4.0/Icon-60.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="http://imagecloud.tataufo.com/icon/4.0/Icon-72.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="http://imagecloud.tataufo.com/icon/4.0/Icon-76.png"/>

  <title>发现式社交平台 tataUFO</title>

  <link rel="stylesheet" type="text/css" href="http://imagecloud.tataufo.com/landing/4.0/css/jquery.fullPage.css">
  <link rel="stylesheet" type="text/css" href="/static/landingpage/css/design_phone.css">
  <link rel="stylesheet" href="http://imagecloud.tataufo.com/landing/4.0/css/animate.min.css">
  <!--<link href='http://api.youziku.com/webfont/CSS/574d5742f629d803ac8d6f0c' rel='stylesheet' type='text/css' />-->


    <script>
        //判断手机横竖屏状态：
        function hengshuping(){
            if(window.orientation==180||window.orientation==0){
//                alert("竖屏状态！")
            }
            if(window.orientation==90||window.orientation==-90){
                alert("请使用竖屏状态以体验更佳效果!")
            }
        }
        window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", hengshuping, false);

        //移动端的浏览器一般都支持window.orientation这个参数，通过这个参数可以判断出手机是处在横屏还是竖屏状态。
        //从而根据实际需求而执行相应的程序。通过添加监听事件onorientationchange，进行执行就可以了。
    </script>
</head>

<body>

<div class=" thin">
  <div class="center-wrap">
    <div class="warp_p1">

    </div>
    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/loading-1.png" class="loading-tata-1" style="">
    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/loading-2.png" class="loading-tata-2" style="">

  </div>
</div>


<img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/top-logo.png" onclick="window.location.href='#firstPage'" id="logo-top" alt="">

<footer>
  <div class="download" onclick="window.location.href='http://www.tataufo.com/download'">
    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/arrow.png" class="arrow" alt="">  立即体验
  </div>
</footer>

<div id="dowebok">


  <div class="section flyme">
    <div class="sloagn-flyme">
      <p class="flyme-txt1 ">结识</p>
      <p class="flyme-txt2 ">有趣青年</p>
      <p class="flyme-txt3 ">只在</p>
      <p class="flyme-txt4 ">tataUFO</p>
    </div>

    <img class="img_3 pt-page-moveIconUp" src="http://imagecloud.tataufo.com/landing/4.0/images/phone/icon_up.png" />

    <div class="warp_top_1">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/top-1.png" class="top-1" alt="">
    </div>
    <div class="warp_top_2">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/top-2.png" class="top-2" alt="">
    </div>
    <div class="warp_top_3">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/top-3.png" class="top-3" alt="">

    </div>


    <div class="warp_middle_1">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/mid-1.png" class="mid-1" alt="">

    </div>
    <div class="warp_middle_2">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/mid-2.png" class="mid-2" alt="">

    </div>
    <div class="warp_middle_3">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/mid-3.png" class="mid-3" alt="">

    </div>


    <div class="warp_bottom_1">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/bot-1.png" class="bot-1" alt="">

    </div>
    <div class="warp_bottom_2">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/bot-2.png" class="bot-2" alt="">

    </div>
    <div class="warp_bottom_3">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/bot-3.png" class="bot-3" alt="">

    </div>


  </div>


  <div class="section anli">
    <img class="img_3 pt-page-moveIconUp" src="http://imagecloud.tataufo.com/landing/4.0/images/phone/icon_up.png" />

    <canvas id="triangle"></canvas>
    <div class="squere"></div>

    <div class="sloagn-anli">
      <p class="anli-txt1 ">为你安利</p>
      <p class="anli-txt2 ">新朋友</p>
      <p class="anli-txt3 ">每天都有</p>
      <p class="anli-txt4 ">新面孔</p>
    </div>

    <div class="blueslogn-1 ">
      <p class="anli-blu-1">每晚十点</p>
      <p class="anli-blu-2">为你匹配靠谱新盆友</p>
    </div>

    <div class="blueslogn-2">
      <p class="anli-blu-3">每时推荐</p>
      <p class="anli-blu-4">轻松撞见懂你の人</p>
    </div>

    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/page2-phone.png" class="fadeInRight page2-phone" alt="">

  </div>


  <div class="section flash">
    <img class="img_3 pt-page-moveIconUp" src="http://imagecloud.tataufo.com/landing/4.0/images/phone/icon_up.png" />
    <div class="sloagn-flash">
      <p class="flash-txt1 ">聊后即焚</p>
      <p class="flash-txt2 ">吐露新声</p>
    </div>

    <div class="flash-content animated tada">
      <p class="flash-small-1">即兴闪聊</p>
      <p class="flash-small-2">十人成团</p>
      <p class="flash-small-3">小圈子聊出大共鸣</p>
    </div>

    <div class="people">
      <div class="circle-people">
        <div class="circle-1 animated ">
          <div class="shining" v-show="show<8 && show>2">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-left-phone.png" class="content-left" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
      <div class="circle-people">

        <div class="circle-2">
          <div class="shining" v-show="show>8">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-mid-phone.png" class="content-mid" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
      <div class="circle-people">

        <div class="circle-3">
          <div class="shining" v-show="show<2">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-right-phone.png" class="content-right" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>

      <div class="circle-people">
        <div class="circle-4">
          <div class="shining" v-show="show<5 && show>=4">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-left-phone.png" class="content-left" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
      <div class="circle-people">
        <div class="circle-5 animated wobble">
          <div class="shining" v-show="show==10">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-mid-phone.png" class="content-mid" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>

        </div>
      </div>
      <div class="circle-people">
        <div class="circle-6"></div>
      </div>

      <div class="circle-people">
        <div class="circle-7">
          <div class="shining" v-show="show==2">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-left-phone.png" class="content-left" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
      <div class="circle-people">
        <div class="circle-8">
          <div class="shining" v-show="show<8 && show>4">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-mid-phone.png" class="content-mid" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
      <div class="circle-people">
        <div class="circle-9">
          <div class="shining" v-show="show==1">
            <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/content-right-phone.png" class="content-mid" alt="">
            <div class="circle-point-1 "></div>
            <div class="circle-point-2"></div>
            <div class="circle-point-3"></div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="section cike">
    <img class="img_3 pt-page-moveIconUp" id="upp" src="http://imagecloud.tataufo.com/landing/4.0/images/phone/icon_up.png" />
    <div class="sloagn-cike">
      <p class="cike-txt1 ">新鲜趣事</p>
      <p class="cike-txt2 ">此刻尽收</p>
    </div>

    <canvas id="demo" class="" style="opacity:0;z-index:9999;position: absolute;top:30.4%;left:32.5%" width="1600"
            height="1600"></canvas>

    <!--<div class="circle-large"></div>-->
    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/circle.png" class="circle-large" alt="">
    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/circle-phone.png" class="circle-phone" alt="">


    <div class="cike-small-slogn">
      <p class="cike-blu-1">来“此刻”</p>
      <p class="cike-blu-2">打捞</p>
      <p class="cike-blu-3">最新鲜的话题</p>
      <p class="cike-blu-4">和奇葩君</p>
    </div>

    <div class="cike-small-slogn-2">
      <p class="cike-pink-1">晒态度</p>
      <p class="cike-pink-2">Po靓图</p>
      <p class="cike-pink-3">你也可以做个</p>
      <p class="cike-pink-4">酷玩达人</p>
    </div>


  </div>


  <div class="section gonnaplay">


    <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/circle.png" class="circle-gonna" alt="">

    <a href="http://www.tataufo.com/company" class="abouttata">关于tataSTAR</a>

    <div class="sloagn-gonna">
      <p class="gonna-txt1 ">gonna</p>

    </div>
    <div class="sloagn-play">
      <p class="gonna-txt2 ">play</p>

    </div>


    <div class="gonnaslide">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/gonna-slide-1.jpg" class="slide-1" alt="">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/gonna-slide-2.jpg" class="slide-2" alt="">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/gonna-slide-3.jpg" class="slide-3" alt="">
      <img src="http://imagecloud.tataufo.com/landing/4.0/images/phone/gonna-slide-4.jpg" class="slide-4" alt="">
    </div>

    <div class="gonna-small-slogn">
      <p class="gonna-blu-1">无新奇</p>
      <p class="gonna-blu-2">不骚年</p>
    </div>

    <div class="gonna-small-slogn-2">
      <p class="gonna-pink-1">新潮到爆</p>
      <p class="gonna-pink-2">即刻开玩</p>
    </div>


  </div>


</div>

<script src="http://imagecloud.tataufo.com/tata_static/js/2.2.1/jquery-2.2.1.min.js"></script>
<script src="http://imagecloud.tataufo.com/landing/4.0/js/jquery.fullPage.min.js"></script>
<script src="http://imagecloud.tataufo.com/landing/4.0/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="http://imagecloud.tataufo.com/landing/4.0/js/jquery.easing.min.js"></script>
<script src="http://imagecloud.tataufo.com/landing/4.0/js/vue.min.js"></script>
<script src="/static/landingpage/js/modify_phone.js"></script>


<script>

  $(document).ready(function () {



    //矩形
    var document_height = $(window).height();
    var leng = $('.cike-txt1 ').width();
    var heit = $('.sloagn-cike').height() - 5; //因为margin-bottom 5像素
    console.log(leng, heit);
    $('.sloagn-cike,#demo').css({
      top: '11%'
    });
    var cxt = document.getElementById('demo').getContext("2d");
    cxt.beginPath();
    cxt.moveTo(0, 0);
    cxt.lineTo(0, heit);
    cxt.lineTo(1000, 1050);
    cxt.lineTo(1200 + leng, 1050);
    cxt.lineTo(leng + 10, 0);
    cxt.fillStyle = "#cfe2fd";  //填充的颜色
    cxt.closePath();
    /*可选步骤，关闭绘制的路径*/
    cxt.fill();


  })

</script>


</body>


<script type="text/javascript" src="http://imagecloud.tataufo.com/landing/4.0/js/g_webfont.min.js"></script>
<script type="text/javascript">
  WebFont.load({
    custom: {
      urls: ['http://api.youziku.com/webfont/CSS/574ea88ef629d80618377254']
    }
  });
</script>
</html>