            <footer>
                <div id="footer">Copyright &copy; 2016 <a href="#">tata地推</a> Made with Foundation</div>

            </footer>
        </div>

        <!-- End of Container Begin -->

    </div>
    <!-- end paper bg -->

</div>
<!-- end of off-canvas-wrap -->

<!-- end of inner-wrap -->


<!-- main javascript library -->
<script type='text/javascript' src="http://imagecloud.tataufo.com/tata_static/js/2.2.1/jquery-2.2.1.min.js"></script>

<%# 滚动监听与foundation已经合并 %>
<%# <script type="text/javascript" src="/static/js/waypoints.min.js"></script>  <!-- 滚动监听  --> %>
<%# <!-- foundation javascript --> %>
<%# <script type='text/javascript' src="/static/js/foundation.min.js"></script> <!-- foundation库 --> %>

<!-- main edumix javascript -->

<%# 滚动条与手风琴已经合并 %>
<%# <script type='text/javascript' src='/static/js/slimscroll/jquery.slimscroll.js'></script>  <!-- 滚动条特效,设置固定高度,超出高度则滚动  -->%>
<%# <script type='text/javascript' src='/static/js/scriptbreaker-multiple-accordion-1.js'></script>   <!-- 手风琴多级目录插件 -->%>

<%# 导航栏缩小的js与app已经合并 %>
<%# <script type='text/javascript' src='/static/js/sliding-menu.js'></script> <!-- 点击导航栏缩小的js(压缩到app) -->%>
<script type='text/javascript' src='/static/js/min/foundation.min-min.js'></script>  <!-- 滚动监听 + foundation库 -->

<script type='text/javascript' src='/static/js/min/jquery.slimscroll.min-min.js'></script>  <!-- 滚动条特效,设置固定高度,超出高度则滚动 + 手风琴多级目录插件 -->

<script type='text/javascript' src='/static/js/min/app-min.js'></script> <!-- 自定义js -->

