<!-- Right Menu -->
<aside class="right-off-canvas-menu">
    <!-- whatever you want goes here -->

</aside>
<!-- close the off-canvas menu -->
<a class="exit-off-canvas"></a>
<!-- End of Right Menu -->