<% include public/head.ejs %>
<%# 请在下方输入自定义页面css%>




<%# 请在上方输入自定义页面css%>

<!--左侧目录,顶部搜索,用户下拉-->
<% include public/sidebar.ejs %>









<%# 页面导航 自己修改 %>
<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
    </li>
    <li>Dashboard
    </li>
</ul>
<!-- end of breadcrumbs -->




<%# body 内容 %>
<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">

        <!-- Main Page -->
        <div class="main ">
            <div class="mg-main">

                <div class="col-lg-12 " id="upload-now" style="display: block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2><strong>File Upload</strong></h2>
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-12" id="drag">
                                        <div class="box bg-aqua">

                                            <!-- /.box-header -->
                                            <div class="box-body " style="display: block;min-height: 200px">
                                                <p class="bg-aqua"><strong>可劲儿拽吧! </strong>都能上传</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">File Upload</label>
                                            <div class="controls">
                                                <div id="container">
                                                    <form action="" id="" class="dropzone col-xs-12"  style="margin-bottom: 20px">

                                                        <input type="file" id="pickfiles">
                                                        <hr>
                                                        <button type="submit" id="uploadfiles" class="btn btn-sm btn-success">Submit</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="filelist">

                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-body bk-noradius">
                                                <div class="row">
                                                    <div class="col-xs-9 bk-vcenter">
                                                        <h5 class="bk-fg-primary bk-fg-darken bk-margin-off-bottom">Uptoken_url</h5>
                                                        <p id="uptoken_url_p"><%= uptoken_url %></p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-xs-9 bk-vcenter">
                                                        <h5 class="bk-fg-primary bk-fg-darken bk-margin-off-bottom">上传服务器路径</h5>
                                                        <p id="domain"><%= domain %></p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-xs-9 bk-vcenter">
                                                        <h5 class="bk-fg-primary bk-fg-darken bk-margin-off-bottom">对应空间的访问路径</h5>
                                                        <p id="url-link"></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>





                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>上传文件名称</th>
                                            <th>新路径</th>
                                            <th>type</th>
                                            <th>缩略图</th>
                                            <th>编辑</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-index">
                                        </tbody>
                                    </table>






                                </div>
                            </div>
                        </div><!--/col-->

                    </div><!--/row-->
                </div>
            </div>
        </div>
        <!-- End Main Page -->

    </div>
</div><!--/container-->


<!-- start: JavaScript-->


<!--main js-->
<% include public/footer.ejs %>

<%# 请在下方输入自定义页面js%>
<script type="text/javascript" src="/static/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/static/js/qiniu.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

<script src="/static/assets/js/jquery.validate.js"></script>
<script src="/static/assets/js/jquery.bootstrap.wizard.min.js"></script>
<!-- end: JavaScript-->
<script src="/static/assets/js/form-wizard.js"></script>


<script type="text/javascript">
    (function($) {
        "use strict";


        $('#upload_btn').click(function(){
            var check1 = $('input[name=dic]:checked').val();
            var check2 = $('#path-live').val();
            $('#bucket_update').text('当前选择空间为: '+ check1)
            $('#prefix_update').text('当前选择路径为: '+ check2)

            $.ajax({
                url: '/index/getvalue',
                type: 'post',
                data: {
                    'dic' : check1,
                    'path' : check2
                },
                success:function(data){
                    console.log(data);
                    if(data.dic != 'tata-prod'){
                        $('#url-link').text('http://imagecloud.tataufo.com/')
                    }else{
                        $('#url-link').text('http://imagecloud.tataufo.com/')
                    }
                    $('#upload-now').css({'display':'block'});
                }
            })
        })

    })(jQuery);
</script>
<%# 请在上方输入自定义页面js%>

<% include public/ending.ejs%>

