<% include public/head.ejs %>
<%# 请在下方输入自定义页面css%>




<%# 请在上方输入自定义页面css%>

<!--左侧目录,顶部搜索,用户下拉-->
<% include public/sidebar.ejs %>












<%# 页面导航 自己修改 %>
<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
    </li>
    <li>button
    </li>
</ul>
<!-- end of breadcrumbs -->




<%# body 内容 %>
<!-- Container Begin -->
<div class="row">


    <div class="large-9 columns" style="padding:0 50px 0 0">
        <article class="reading-nest">
            <h3><a href="#">这里是可以点击的H3</a></h3>
            <h6>用户名<a href="#">小嗒嗒</a> 时间</h6>


            <img class="left" alt="" src="/static/img/blog-image01.jpg" />

            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>

            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>

            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>


            <span>查看所有<i class="fa fa-long-arrow-right"></i></span>

        </article>

        <hr/>
        <article class="reading-nest">

            <h3><a href="#">帖子2(无图片)</a></h3>
            <h6>用户名:<a href="#">xxxxx</a> 2016.06.06</h6>



            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>


            <blockquote>这里可以是引言,可以是重点的话,反正是加粗斜体
                <cite>斜体祖逖</cite>
            </blockquote>

            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>


            <span>查看所有<i class="fa fa-long-arrow-right"></i> </span>

        </article>
        <hr/>

        <article class="reading-nest">

            <h3><a href="#">帖子3（横图片）</a></h3>
            <h6>用户名:<a href="#">xxxxx</a> 2016.06.06</h6>


            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>

            <img class="left" alt="" src="/static/img/blog-image02.jpg" />

            <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
            <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>

            <span>查看所有<i class="fa fa-long-arrow-right"></i></span>
        </article>
    </div>


    <!-- widget blog -->
    <div class="large-3 columns">
        <div class="widget-blog">
            <h5><span>左边栏</span> 1</h5>
            <p>
                小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） 一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。
            </p>
            <h5>左边栏2</h5>
            <div class="panel">
                <p>小伙伴们看过来，全球熄灯节迎面而来啦！就在这个星期六，为了我们可爱的蓝色星球，我们决定：熄~灯~啦~~~ SO~为环保出一份力，小嗒嗒也在中国传媒大学校园内极积发起了节能环保的线下活动——Light up挑战赛！（PS：此点灯非彼点灯哦~） </p>
                <p>一个限时60分钟的极限挑战 一次用体能践行环保的超级行动 3月19日，20:30-21:30 中国传媒大学中蓝公寓楼下 等你为蓝而战！ 支持挑战赛，支持地球一小时，我们热烈欢迎中传的同学到场围观哦~ 不能到场的同学也不会留遗憾，小嗒嗒将在3.18－3.19两天内，在社区做一个神秘好玩的小活动～ 点击下方活动链接，系统自动为你更换地球头像！3.20自动恢复成正常头像。</p>

                <span>查看所有<i class="fa fa-long-arrow-right"></i></span>
            </div>

            <h5>左边栏3</h5>
            <ul>
                <li><a href="#">Cat1</a>
                </li>
                <li><a href="#">Cat2</a>
                </li>
                <li><a href="#">Cat3</a>
                </li>
                <li><a href="#">Cat4</a>
                </li>
                <li><a href="#">Cat5</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end of widget blog -->

</div>
<!-- End of Container Begin -->














<!--main js-->
<% include public/footer.ejs %>

<%# 请在下方输入自定义页面js%>
<script type="text/javascript">
    (function($) {
        "use strict";



    })(jQuery);
</script>
<%# 请在上方输入自定义页面js%>

<% include public/ending.ejs%>


