<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tataOAM</title>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/foundation.min.css"/>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/static/sass/css/theme.css">

    <script src="/static/js/vendor/modernizr.js"></script>


</head>

<body>
<div class="off-canvas-wrap" data-offcanvas>
    <!-- right sidebar wrapper -->
    <div class="inner-wrap">


        <!-- Right sidemenu -->
        <div id="skin-select">
            <!--  隐藏边栏按钮 -->
            <a id="toggle">
                <span class="fa fa-exchange"></span>
            </a>
            <!--  End of 隐藏边栏按钮 -->

            <div class="skin-part">
                <div id="tree-wrap">
                    <!-- Profile -->
                    <div class="profile">
                        <img alt="" class="" src="/static/img/logo.png">
                        <h3>tataOAM
                            <small>0.1</small>
                        </h3>

                    </div>
                    <!-- End of Profile -->

                    <!-- Menu sidebar begin-->
                    <div class="side-bar">
                        <ul id="menu-showhide" class="topnav slicknav">
                            <li class="has-form bg-white">
                                <div class="dark"></div>
                                <input class="input-top" type="text" placeholder="功能搜索,如:发帖...">
                            </li>
                            <li>
                                <a id="menu-select" class="tooltip-tip" href="index.html" title="index">
                                    <i class="fa fa-home fa-fw"></i>
                                    <span>Dashboard</span>

                                </a>

                            </li>
                            <li>
                                <a class="tooltip-tip" href="#">
                                    <i class=" icon-window"></i>
                                    <span>折叠按钮1</span>

                                </a>
                                <ul>
                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a class="tooltip-tip" href="#" title="Mail">
                                    <i class=" icon-preview"></i>
                                    <span>折叠按钮2</span>

                                </a>
                                <ul>

                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="tooltip-tip" href="#" title="Mail">
                                    <i class=" icon-mail"></i>
                                    <span>折叠按钮3</span>

                                </a>
                                <ul>
                                    <li>
                                        <a href="#" title="Inbox">带后缀
                                            <div class="noft-blue bg-red" style="display: inline-block; float: none;">
                                                数字
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Inbox">带后缀
                                            <div class="noft-blue bg-blue" style="display: inline-block; float: none;">
                                                字母
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-document-new"></i>
                                    <span>折叠按钮4</span>
                                </a>
                                <ul>

                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>


                                </ul>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="#" title="UI">
                                    <i class="icon-align-justify"></i>
                                    <span>折叠按钮5</span>
                                </a>
                                <ul>

                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容3</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容4</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容5</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容6</a>
                                    </li>

                                </ul>
                            </li>


                            <li>
                                <a href="#">
                                    <i class="fontello-doc-1"></i>
                                    <span>表单规则</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容3</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容4</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" icon-view-list-large"></i>
                                    <span>列表规则</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">折叠内容1</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容2</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容3</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容4</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容5</a>
                                    </li>
                                    <li>
                                        <a href="#">折叠内容6</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/button" title="Icons">
                                    <i class="fa fa-cog"></i>
                                    <span>按钮规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/typography" title="Icons">
                                    <i class="fa fa-sort-amount-desc"></i>
                                    <span>排版规则</span>

                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="/index/grid" title="Icons">
                                    <i class="fa fa-th"></i>
                                    <span>栅格化规则</span>

                                </a>
                            </li>


                        </ul>
                    </div>
                    <!-- end of Menu sidebar  -->
                    <ul class="bottom-list-menu">
                        <li>功能按钮1 <span class="icon-gear"></span>
                        </li>
                        <li>功能按钮2 <span class="icon-phone"></span>
                        </li>
                        <li>功能按钮3 <span class="icon-music"></span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- end of Rightsidemenu -->


        <div class="wrap-fluid" id="paper-bg">
            <!-- top nav -->
            <div class="top-bar-nest">
                <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                    <section class="top-bar-section ">
                        <!-- Left Nav Section -->
                        <ul class="left">

                            <!-- Search | has-form wrapper -->
                            <li class="has-form bg-white">
                                <div class="row collapse">

                                    <div class="large-12 columns">
                                        <div class="dark"></div>
                                        <input class="input-top" type="text" placeholder="search">
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="right">
                            <li class=" has-dropdown bg-white">
                                <a class="bg-white" href="#"><img alt="" class="admin-pic img-circle"
                                                                  src="http://api.randomuser.me/portraits/thumb/men/28.jpg"><span
                                            class="admin-pic-text text-gray">Hi, Admin </span>
                                </a>

                                <ul class="dropdown dropdown-nest profile-dropdown">

                                    <li>
                                        <i class="fa fa-user fa-fw"></i>
                                        <a href="#">
                                            <h4>Profile<span class="text-aqua fontello-record"></span></h4>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-folder-open-o fa-fw"></i>
                                        <a href="#">
                                            <h4>Account<span class="text-blue fontello-record"></span></h4>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-sign-out fa-fw"></i>
                                        <a href="login.html">
                                            <h4>Logout<span class="text-dark-blue fontello-record"></span></h4>
                                        </a>
                                    </li>

                                    <!--<li class="active right">-->
                                    <!--<a href="#">-->
                                    <!--<div class="label bg-white">More</div>-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li class="bg-white">
                                <a class="right-off-canvas-toggle bg-white text-gray" href="#"><span
                                            style="font-size:13px" class="fa fa-list fa-fw"></span></a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
            <!-- end of top nav -->
            <%# 页面导航 自己修改 %>
            <!-- breadcrumbs -->
            <ul class="breadcrumbs">
                <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
                </li>
                <li>Dashboard
                </li>
            </ul>
            <!-- end of breadcrumbs -->

            <%# body 内容 %>
            <footer>
                <div id="footer">Copyright &copy; 2016 <a href="#">tataOAM</a> Made with Foundation</div>

            </footer>
        </div>

        <!-- End of Container Begin -->

    </div>
    <!-- end paper bg -->

</div>
<!-- end of off-canvas-wrap -->

<!-- end of inner-wrap -->


<!-- main javascript library -->
<script type='text/javascript' src="http://imagecloud.tataufo.com/tata_static/js/2.2.1/jquery-2.2.1.min.js"></script>

<%# 滚动监听与foundation已经合并 %>
<%# <script type="text/javascript" src="/static/js/waypoints.min.js"></script>  <!-- 滚动监听  --> %>
<%# <!-- foundation javascript --> %>
<%# <script type='text/javascript' src="/static/js/foundation.min.js"></script> <!-- foundation库 --> %>

<!-- main edumix javascript -->

<%# 滚动条与手风琴已经合并 %>
<%# <script type='text/javascript' src='/static/js/slimscroll/jquery.slimscroll.js'></script>  <!-- 滚动条特效,设置固定高度,超出高度则滚动  -->%>
<%# <script type='text/javascript' src='/static/js/scriptbreaker-multiple-accordion-1.js'></script>   <!-- 手风琴多级目录插件 -->%>

<%# 导航栏缩小的js与app已经合并 %>
<%# <script type='text/javascript' src='/static/js/sliding-menu.js'></script> <!-- 点击导航栏缩小的js(压缩到app) -->%>
<script type='text/javascript' src='/static/js/min/foundation.min-min.js'></script>  <!-- 滚动监听 + foundation库 -->

<script type='text/javascript' src='/static/js/min/jquery.slimscroll.min-min.js'></script>
<!-- 滚动条特效,设置固定高度,超出高度则滚动 + 手风琴多级目录插件 -->

<script type='text/javascript' src='/static/js/min/app-min.js'></script> <!-- 自定义js -->

<%# 请在下方输入自定义页面js%>
<script type="text/javascript">
    (function ($) {
        "use strict";


    })(jQuery);
</script>
<%# 请在上方输入自定义页面js%>

<script>
    $(document).foundation();
</script>


</body>

</html>