<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>用户等级</title>

    <link href="/static/level/css/timeline.css" rel="stylesheet" type="text/css"/>


</head>
<body>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.1</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量0~19</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.2</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量20~49</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.3</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量50~99</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.4</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量100~499</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.5</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量500~999</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.6</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量1000~1999</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.7</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量2000~4999</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.8</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量5000~9999</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <p>LV.9</p>
        </div><!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>访问量10000以上</h2>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->


</body>
</html>
