<!doctype html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>tataUFO服务条款</title>

    <style>
        body {
            font: 16px/1.5 helvetica, arial, sans-serif;
            background: white;
            color: #444;
        }
        dd {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
<h1>tataUFO 服务条款</h1>
</p>
<dl> 1、注册条款的接受 </dl>
<dd>一旦用户在注册页面点击或勾选“阅读并同意接受注册条款”后，即表示用户已经阅读并且同意与“tataUFO”达成协议，并接受所有的注册条款。 </dd>
<dl>2、用户注册条件 申请注册加入tataUFO的用户需要同时满足下列全部条件： </dl>
<dd>1)	自注册之日以及此后使用本网站服务期间必须是单身状态，包括未婚、离异或是丧偶； </dd>
<dd>2)	注册之日必须为在校大学生，且年满16周岁； </dd>
<dd>3)	向tataUFO提供本人真实、正确、最新及完整的资料并保持； </dd>
<dd>4)	务必保持帐号持有人的唯一性。 </dd>

<dl>3、用户帐号、密码及安全 </dl>
<dd>1) 用户应对利用帐号所进行的一切活动负全部责任，包括任何经由tataUFO网站上载的文字、照片、信息或其它资料，无论系公开还是私下传送，均由内容提供者承担责任。 </dd>
<dd>2) 用户的帐号遭到未获授权的使用，及发生其它任何安全问题时，应立即通知tataUFO网站。由于用户使用不当导致帐号、密码泄漏，进而导致其资料、信息泄漏的，由用户承担其不利后果，tataUFO不承担责任。 </dd>

<dl>4、服务说明 </dl>
<dd>1) tataUFO通过互联网为用户提供服务，包括线上及线下的相关业务。 </dd>
<dd>2) tataUFO将为用户每天推荐一或多名经过系统算法匹配的异性朋友，提供内容包括对方的照片及相关个性化信息，待彼此同意后提供对方的联系方式。 </dd>
<dd>3) 在提供服务时，可能会对其中部分收取费用，会在相关页面上做明确的提示。 </dd>
<dd>4) 对于利用tataUFO服务进行非法活动，或其言行（无论线上或者线下的）背离tataUFO严肃交友目的的，tataUFO将严肃处理，包括将其列入黑名单、将其被投诉的情形公之于众、删除用户帐号等处罚措施。 </dd>
<dd>5）tataUFO有权向其用户发送广告信，或为组织线下活动等目的，向其会员发送电子邮件、短信或电话通知。 </dd>
<dd>6) 为提高tataUFO用户的交友的成功率和效率，tataUFO在经得当事人同意后有权将用户的交友信息在tataUFO的合作网站上进行展示或其他类似行为。 </dd>
<dl>5、免责条款 </dl>
<dd>1) tataUFO不保证其提供的服务一定能满足用户的要求和期望，也不保证服务不会中断，对服务的及时性、安全性、准确性都不作保证。 </dd>
<dd>2) 对于tataUFO网站提供的各种广告信息、链接、资讯等，不保证其内容的正确性、合法性或可靠性，相关责任由广告商承担；并且，对于用户经由tataUFO服务与广告商进行联系或商业往来，完全属于用户和广告商之间的行为，与tataUFO无关。 </dd>
<dd>3) 对于用户上传的照片、资料、证件等，tataUFO已采用相关措施并已尽合理努力进行审核，但不保证其内容的正确性、合法性或可靠性，相关责任由上传上述内容的用户负责。 </dd>
<dd>4) 用户以自己的独立判断从事与交友相关的行为，并独立承担可能产生的不利后果和责任，tataUFO不承担任何法律责任。</dd>
<dd>5) 对于用户的投诉，tataUFO将尽合理努力认真核实，但不保证最终公之于众的投诉的真实性、合法性，对于投诉内容侵犯会员隐私权、名誉权等合法权利的，所有法律责任由投诉者承担，与tataUFO无关。 </dd>
<dl>6、用户权利 用户对于自己的个人资料享有以下权利： </dl>
<dd>1）随时查询及请求阅览、补充及更正，但因极少数特殊情况（如被网站加入黑名单等）无法查询及提供阅览的除外； </dd>
<dd>2）随时请求关闭账户。</dd>
<dl>7、用户应遵守以下法律法规： </dl>
<dd>1) tataUFO提醒用户在使用本网站服务时，遵守《中华人民共和国合同法》、《中华人民共和国著作权法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国保守国家秘密法》、《中华人民共和国电信条例》、《中华人民共和国计算机信息系统安全保护条例》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法、《计算机信息系统国际联网保密管理规定》、《互联网信息服务管理办法》、《计算机信息网络国际联网安全保护管理办法》、《互联网电子公告服务管理规定》等相关中国法律法规的规定。 </dd>
<dd>2) 在任何情况下，如果tataUFO有理由认为用户使用本网站服务过程中的任何行为，包括但不限于用户的任何言论和其它行为违反或可能违反上述法律和法规的任何规定，tataUFO可在任何时候不经任何事先通知终止向该用户提供服务。 </dd>
<dl>8、禁止用户从事下列行为: </dl>
<dd>1)发布信息或者利用tataUFO的服务时在tataUFO的网页上或者利用tataUFO的服务制作、复制、发布、传播以下信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视、破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权利的；含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它有悖道德、令人反感的内容；含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的。</dd>
<dd>2) 使用tataUFO服务的过程中，以任何方式危害未成年人的利益的。 </dd>
<dd>3) 冒充任何人或机构，包含但不限于冒充tataUFO工作人员，或以虚伪不实的方式陈述或谎称与任何人或机构有关的。 </dd>
<dd>4) 将侵犯任何人的肖像权、名誉权、隐私权、专利权、商标权、著作权、商业秘密或其它专属权利的内容上载、张贴、发送电子邮件或以其它方式传送的。 </dd>
<dd>5) 跟踪或以其它方式骚扰其他用户的。</dd>
<dd>6) 未经合法授权而截获、篡改、收集、储存或删除他人个人信息、电子邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。 </dd>
<dd>8) 以任何方式干扰tataUFO服务的。</dd>
<dl>9、结束服务 </dl>
<dd>1) 如用户连续1周未登陆其在tataUFO网站的账号，该用户的帐号将被自动关闭，tataUFO同时终止提供与该帐号相对应的全部或部分服务；</dd>
<dd>2) 用户若反对任何注册条款的内容或对之后注册条款修改有异议，或对tataUFO服务不满，用户有以下权利：不再使用tataUFO服务；通知tataUFO停止该用户的服务。结束用户服务的同时，会员使用tataUFO服务的权利立即终止，tataUFO不再对用户承担任何义务。 </dd>
<dl>10、赔偿 </dl>
<dd>1) 因用户通过tataUFO提供的服务提供、张贴或传送内容、违反本服务条款、或侵害他人任何权利而导致任何第三人对tataUFO提出任何索赔或请求，用户应当赔偿tataUFO或其他合作伙伴的损失，包括但不限于律师费和合理的调查费用等。 </dd>
<dd>2) 用户在投诉其他用户有违法行为或违反本注册条款情形时，投诉者应承担不实投诉所产生的全部法律责任。如侵犯他人的合法权益，投诉人应独立承担全部法律责任。如给tataUFO造成损失的，投诉人应对tataUFO履行相应的赔偿责任。 </dd>
<dl>11、用户注册条款的变更和修改</dl> <dd>tataUFO网站有权随时对本注册条款进行变更和修改。一旦发生注册条款的变动，tataUFO网站将在页面上提示修改的内容，或将最新版本的用户注册条款以邮件的形式发送给用户。 </dd>
<dl>12、不可抗力 </dl>
<dd>1) “不可抗力”是指tataUFO不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误tataUFO根据本注册条款履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、黑客袭击、电脑病毒、网络故障等。不可抗力可能导致tataUFO网站无法访问、访问速度缓慢、存储数据丢失、用户个人信息泄漏等不利后果。</dd>
<dd> 2) 遭受不可抗力事件时，tataUFO可中止履行本注册条款项下的义务直至不可抗力的影响消除为止，并且不因此承担违约责任；但应尽最大努力克服该事件，减轻其负面影响。 </dd>
<dl>13、法律的适用和管辖</dl> <dd>本注册条款的生效、履行、解释及争议的解决均适用中华人民共和国的现行法律，所发生的争议应提交北京仲裁委员会，其仲裁裁决是终局的。本注册条款因与中华人民共和国现行法律相抵触而导致部分条款无效的，不影响其他条款的效力。</dd>
</body>
</html>